<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Doug Hellmann{% endblock %}</title>
{% block head_before_css %}
{% endblock %}
<link href="{{pathto('_static/css/leaves.css', 1)}}" rel="stylesheet" type="text/css" />
<link rel="alternate" type="application/atom+xml"
      title="Doug Hellmann"
      href="http://feeds.feedburner.com/DougHellmann" />
<link rel="alternate" type="application/atom+xml"
      title="Doug Hellmann Project Releases"
      href="http://feeds.feedburner.com/DougHellmann-Releases" />
<link rel="alternate" type="application/atom+xml"
      title="Doug Hellmann Links"
      href="http://feeds.feedburner.com/DougHellmannLinkBlog" />
{% block head_after_css %}
{% endblock %}
{% block head %}
{% endblock %}
<meta name="verify-v1" content="5saTcOa2HLac4V85yUg3SARfun1PqT5Upu7IR/6fpv4="/>
</head>
<body>
    
<div id="container">
    
<div id="header">
  <a href="/"><h1>{% block page_heading %}PyMOTW{% endblock %}</h1></a>
  <p>{% block page_subheading %}{% endblock %}</p>
</div>

<div id="sidebar_left_wrapper">

<div id="navigation"> 
	<ul id="navlist">
		<li><a href="{{pathto('index')}}">Home</a></li>
		<li><a href="https://doughellmann.com/" target="_">Blog</a></li>
		<li><a href="https://doughellmann.com/python-standard-library-by-example">The Book</a></li>
		<li><a href="{{pathto('about')}}">About</a></li>
		<li><a href="/2/genindex.html">Site Index</a></li>
	</ul>
</div>

{% block sidebar_l %}
{% endblock %}
</div>

{% block sidebar %}
          {%- if sidebars != None %}
<div id="sidebar">
            {#- new style sidebar: explicitly include/exclude templates #}
            {%- for sidebartemplate in sidebars %}
            {%- include sidebartemplate %}
            {%- endfor %}
</div>
          {%- endif %}
{% endblock %}

<div id="content">
{% block content %}
{% block relbar1 %}{% endblock %}

{% block relbar2 %}{% endblock %}
{% endblock %}

</div>

<div id="footer">
 {% block footer %}
    
<p>Copyright <a rel="author" href="/about/index.html">Doug Hellmann</a> | Design based on "Leaves" by <a href="https://smallpark.org">SmallPark</a> | Hosted by <a href="https://www.dreamhost.com/r.cgi?1246820">DreamHost</a></p>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38546875-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

 {% endblock %}
</div>

</div>

</body>
</html>
